:root{
    /* main theme */
    --theme-accent:#FFC700;
    --theme-main:#FFFFFF;
    --theme-bg:#222527;
    --theme-modal-bg:rgb(239 236 236 / 40%);
    --theme-btn-text:#060803;
}
html,body{
    
    width: 100%;
    height: 100%;
}

/* ABOUT SECTION */

.header{
    width: 100%;
    padding: 32px 0px 72px 0px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-social{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0;
    top:36%;

}

.social-link{
    margin-bottom:26px;
}

.social-link svg {
    fill:var(--theme-accent);
}

.container{
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.about-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.about {
    /* background-color: black; */
    height: 100%;
    width: 100%;
    background-image: url(../goit_testdrive/img/space.jpg);
    background-size: cover;
    position: relative;
    font-family: 'Montserrat',sans-serif;
    overflow: hidden;
}

.about-name{
    font-family: Montserrat;
    font-style: italic;
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
    /* letter-spacing: 0.02em; */
    margin-bottom: 24px;
    color:var(--theme-accent);
}

.about-profession{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    color: var(--theme-main);
}

.about-positions{
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-accent);
    margin-bottom: 8px;
    list-style: disc;

}

.about-positions-text{
    color:var(--theme-main);
}

.about-button{
    border: 0;
    outline: 0;
    margin-top: 40px;
    padding: 16px 32px 16px 32px;
    background: var(--theme-accent);
    border-radius: 38px;
    cursor: pointer;
    color:var(--theme-btn-text) ;
}

.about-description{
    font-size: 16px;
    line-height: 24px;
    color: var(--theme-main);
    margin-top: 104px ;
}

.about-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-content-row{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100%;
    justify-content:space-between;

}

#dart-vader{
    position: absolute;
    right: 0;
    bottom: 0;
}

#death-star{
    position:absolute;
    left:0;
    right: 0;
    bottom: 0;
    margin: auto;
    bottom: -96px;
    opacity: 0.4;
}
/* #####################################*/

/* ACHIVMENT SECTION */

#achivment{
    background-color: var(--theme-bg);
    /* height: 100%; */
    width: 100%;
    /* background-image: url(../goit_testdrive/img/space.jpg); */
    background-size: cover;
    position: relative;
    font-family: 'Montserrat',sans-serif;
    overflow: hidden;
}

.achivment-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.achivment-name{
    color: var(--theme-accent);
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
    margin-bottom: 60px ;
}

.achivment-img{
    /* padding:0 121px 30px 121px; */
    /* position: absolute; */
    padding-bottom: 30px;
    padding-right: 241px ;
}

.achivment-accent{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 4px;
    color: var(--theme-accent);

}

.achivment-main{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 48px;
    color: var(--theme-main);
}
/* ################################################### */

/* CODEX SECTION */

.codex{
    /* height: 100%; */
    width: 100%;
    background-image: url(../goit_testdrive/img/space.jpg);
    background-size: cover;
    position: relative;
    font-family: 'Montserrat',sans-serif;
    overflow: hidden;
    padding-top: 148px;

}

.codex-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 176px;
}

.codex-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--theme-main);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}

#codex-text-accent{
    color: var(--theme-accent);
    font-weight: bold;
}

#codex-text-main{
    padding-bottom:74px;
    padding-top: 48px;
}
/* ############################################## */

/* FOOTER SECTION */

#footer{
    background-color: var(--theme-bg);
    /* height: 100%; */
    width: 100%;
    /* background-image: url(../goit_testdrive/img/space.jpg); */
    background-size: cover;
    position: relative;
    font-family: 'Montserrat',sans-serif;
    overflow: hidden;
    
    
}

#footer-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top:116px;
    padding-bottom: 104px;
}

#footer-text{
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color:var(--theme-main);
    padding-bottom:70px;
}
/* #################################### */

/* MODAL FORM */

.modal-container{
    position: fixed;
    top:0;
    left:0;
    height: 100%;
    width: 100%;
    background-color: var(--theme-modal-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease-in-out;

}

.modal-form{
    
    width: 520px;
    height: 364px;
    /* left: 28%;
    top: 10%; */
    padding: 40px 80px;
    background-color: var(--theme-bg);
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

}

.close-icon{
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: var(--theme-bg);
    
    border: 0;
    outline: 0;
    cursor: pointer;
}

.close-icon svg{
    fill:var(--theme-main);
}

.modal-form-title{
    color: var(--theme-accent);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 8px;
    /* padding-top: 12px;
    padding-bottom: 8px;*/
} 

.modal-form-text{
    color: var(--theme-main);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    
    margin-bottom: 36px;
}

.modal-form-field{
    display: flex;
    flex-direction: column;
    justify-content: left;
    color: var(--theme-main);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}
.modal-form-name{
    border: 1px solid var(--theme-main);
    outline: none;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    width: 440px;
}
.modal-form-email{
    width: 440px;
    border: 1px solid var(--theme-main);
    outline: none;
    height: 40px;
    height: 40px;
    box-sizing: border-box;
    font-family: 'Montserrat';
    /* font-size: 24px; */
}
.regestration-button{
    border: 0;
    outline: 0;
    margin-top: 40px;
    color:var(--theme-btn-text);
    padding: 16px 32px 16px 32px;
    background: var(--theme-accent);
    border-radius: 38px;
    cursor: pointer;
}

.modal-active{
    opacity: 1;
    pointer-events: all;
}
/* ################################# */

/* MODAL SUCCESS */

.modal-success{
    width: 520px;
    height: 364px;
    /* left: 28%;
    top: 10%; */
    padding: 40px 80px;
    background-color: var(--theme-bg);
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;

}

.modal-success-title{
    color: var(--theme-accent);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 92px;
}

.modal-success-text{
    color: var(--theme-main);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 48px;
}
/* ############################# */

/* THEME CHANGE */
.about--light, 
.codex--light {
    background-image: url("../goit_testdrive/img/stardust.jpg");
}

.logo svg{
    fill: var(--theme-accent);
}