:root{
    --theme-accent:#FFC700;
    --theme-main:#FFFFFF;
    --theme-bg:#222527;
    --theme-accent-light:#4B526A;
    --theme-main-light:#15141D;
    --theme-bg-light:#222527;
}
html,body{
    width: 100%;
    height: 100%;
}
body{
    background-color: var(--theme-main);
    /* opacity:0.4; */
}
.regestration-page{
    opacity:1;
}
.regestration-form{
    position: absolute;
    width: 600px;
    height: 404px;
    left: 28%;
    top: 10%;
    
    background-color: var(--theme-bg);
    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
}

.text-accent{
    color: var(--theme-accent);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 8px;
}

.text-main{
    color: var(--theme-main);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin-bottom: 36px;
}

.regestration-button{
    position: relative;
    border: 0;
    outline: 0;
    margin-top: 40px;
    padding: 16px 32px 16px 32px;
    background: var(--theme-accent);
    border-radius: 38px;
    cursor: pointer;
    margin-left: 197px;
    margin-right: 197px;
    
}
.input{
    margin-bottom: 8px;
}
.input-name{
    color: var(--theme-main);
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 4px;
}
.input-information{
    height:36px;
    width: 440px;
}
.regestration-border{
    margin-left: 80px;
    margin-right: 80px;
}

#close{
    display: flex;
    /* flex-direction: row; */
    align-items: flex-end;
    width: 100%;
    /* justify-content:space-between; */
   
    margin-top: 12px;
    margin-right:12px;
    margin-left:564px;
}
#close-button{
    background-color: var(--theme-bg);
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
}